.highlight {
    background: rgb(218, 229, 230); /* green */
}
  
.positive {
    background-color: rgb(235, 249, 235);
}

.negative {
    background-color: rgb(250, 200, 200)(209, 247, 209);
}
  .hoverable {
    cursor: pointer;
    min-height: 60px;
  }
  
  .hoverable:hover {
    background: rgba(231, 236, 236, 0.495);
  }
  
  .hoverable:focus {
    background: rgba(231, 236, 236, 0.495);
  }
  
  .content-card {
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    background-color: beige;
  }
  
  .add-project-button {
      margin-bottom: 20px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .table-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
  }
  
  .cell-view-button {
    align-self: flex-end;
  }
  
  .cell-date {
    color: darkslategray;
  }
  
  .delete-button {
    background-color: gray;
  }