<mat-card class="content-card">
   
    <br>
    
      <mat-card-content>

        <h1>Your Jobs</h1>
        
        <!-- class="mat-elevation-z8" -->
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
              <b>Name</b>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef>
                <b>Status</b>
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
            </ng-container>
    
          <ng-container matColumnDef="rating">
            <mat-header-cell *matHeaderCellDef>
              <!-- <b>Rating</b> -->
              <mat-icon>grade</mat-icon>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.rating.toFixed(2)}} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="createdDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <!-- <b>Created Date</b> -->
              <mat-icon>calendar_today</mat-icon>
              
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.createdDate | date}} </mat-cell>
          </ng-container>
    
          <!-- <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>
              <b>Action</b>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-button >Delete</button>
              <button mat-button >Share</button>
              <button mat-button >Edit</button>
            </mat-cell>
          </ng-container> -->
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'positive' : row.status == 'Done', 'negative' : row.status != 'Done'}" (click)="openJob(row)" class="hoverable"></mat-row>
        </mat-table>
    
    
      </mat-card-content>
    
    
    </mat-card>