<mat-card class="content-card md-elevation-z3">
  <div class="title">Login</div>
    <span>
        <mat-form-field class="text-field">
          <input matInput placeholder="Enter your username" id="txtEmail" [(ngModel)]="email" name="email">
        </mat-form-field>
    </span>
    <span>
        <mat-form-field class="text-field">
          <input matInput placeholder="Enter your password" id="txtPassword" [(ngModel)]="password" name="password" type="password">
        </mat-form-field>
    </span>

    <button mat-raised-button color="primary" class="login-button" (click)="onLogin()"> Sign in </button>
</mat-card>