<mat-card class="content-card" *ngIf="!isSharingView">
  <h2 mat-dialog-title>Update Job</h2>

  <mat-dialog-content class="content">

    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Job Name" [(ngModel)]="name" required>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <textarea matInput placeholder="Job Description" [(ngModel)]="jobDescription" required ></textarea>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Created Date" [(ngModel)]="createdDate" disabled>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <textarea matInput placeholder="Feedback" [(ngModel)]="feedback" disabled></textarea>
    </mat-form-field>

  </mat-dialog-content>

  <mat-form-field>
    <mat-select placeholder="Status" [(value)]="selectedType" >
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{type.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="update()" *ngIf="isUpdatable">Update</button>
  </mat-dialog-actions>

</mat-card>