<div *ngIf="user">
  <mat-card class="content-card">

    <mat-card-header>
      <h2 mat-dialog-title class="title">{{user.name}}</h2>
    </mat-card-header>

    <!-- <div>
      <mat-card-subtitle *ngIf="user.rating > 0">
        <mat-icon>grade</mat-icon> {{user.rating.toFixed(2)}}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="user.rating == 0">No ratings yet</mat-card-subtitle>
    </div> -->

    <mat-dialog-content class="content">
      <p *ngIf="user.rating > 0"> <b>Rating : </b>{{user.rating.toFixed(2)}}</p>
      <p *ngIf="user.rating == 0"> No ratings yet</p>
      <p> <b>Phone  : </b>{{user.phone}}</p>
      <p> <b>Address: </b> {{user.address}}</p>
      <p> I'm a {{user.type}} technician</p>

        <mat-divider></mat-divider>
        <mat-list>
            <h3 mat-subheader>Feedback From Customers</h3>
            <mat-list-item *ngFor="let job of ratedJobs">
              <mat-icon mat-list-icon>note</mat-icon>
              <h4 mat-line>{{job.title}}</h4>
              <p mat-line> {{job.createdDate | date}} </p>
              <p mat-line> <mat-icon>grade</mat-icon> {{job.rating.toFixed(2)}} </p>
              <p mat-line> <b>Customer Comment: </b> 
                {{job.feedback}} </p>
            </mat-list-item>
          </mat-list>
    </mat-dialog-content>

  </mat-card>
</div>