.content-card {
    max-width: 50%;
    max-height: 80%;
    min-width: 200px;
    margin: auto;
    margin-top: 40px;
    background-color: beige;
    /* align-self: center; */
}

.content {
    margin-bottom: 20px;
}

.title {
    margin: auto;
}

.sub-title {
    margin: auto;
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}