<mat-card class="content-card">
    <div class="title">Register Technician</div>
    <span>
        <mat-form-field class="text-field">
            <input matInput placeholder="Enter your name (Ex: Sanduni Sachintha)" id="txtName" [(ngModel)]="name" name="name">
        </mat-form-field>
    </span>
    <span>
        <mat-form-field class="text-field">
            <input matInput placeholder="Enter a username for login" id="txtEmail" [(ngModel)]="username" name="username">
        </mat-form-field>
    </span>
    <span>
        <mat-form-field class="text-field">
            <input matInput placeholder="Enter a password for your account" id="txtPassword" [(ngModel)]="password" name="password" type="password">
        </mat-form-field>
    </span>
    <span>
        <mat-form-field class="text-field">
            <input matInput ngx-google-places-autocomplete placesRef="ngx-places" placeholder="Enter your address" id="txtPassword" [(ngModel)]="address" name="address" (onAddressChange)="onAddressChange($event)">
            <!-- <input ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="onAddressChange($event)"/> -->
        </mat-form-field>
    </span>
    <span>
        <mat-form-field class="text-field">
            <input matInput placeholder="Enter your contact number" id="txtPassword" [(ngModel)]="phone" name="phone" >
        </mat-form-field>
    </span>

    <span>
    <mat-form-field>
        <mat-select placeholder="Specialized in?" [(value)]="selectedType">
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <button mat-raised-button color="primary" class="reg-button" (click)="onRegisterSubmit()"> Register Me </button>
</mat-card>