<mat-toolbar color="warn" role="header" class="mat-elevation-z4">
  <span [routerLink]="['/']">Auto Doc</span>

  <!-- Left buttons -->
  <button mat-button *ngIf="authService.loggedIn()" class="nav-button" [routerLink]="['/jobs']"> Jobs </button>
  
  <!-- Flexible space -->
  <span class="nav-spacer"></span>

  <button mat-button *ngIf="!authService.loggedIn()" [routerLink]="['/login']"> Login </button>
  <button mat-button *ngIf="!authService.loggedIn()" [routerLink]="['/register']"> Register </button>

  <!-- Right side button -->
  <button mat-button *ngIf="authService.loggedIn()" [matMenuTriggerFor]="menu">
    <i class="material-icons"> account_circle </i>
  </button>
  <mat-menu #menu="matMenu">
    <div *ngIf="authService.loggedIn()">
      <button id="btnProfile" mat-menu-item class="nav-link"[routerLink]="['/profile']">Profile</button>
      <button id="btnLogout" mat-menu-item class="nav-link" (click)="onLogoutClick()" href="#">Logout</button>
    </div>
  </mat-menu>

</mat-toolbar>